.Todo-list-container{
  display: flex;
  margin: 5rem;
  justify-content:center;
  align-items: flex-start;
  width: 80rem;
  min-height: 50rem;
  border: 1px solid black;
  background-color: skyblue;
  border-radius: 1rem;
}
.todo-form{
  
  display: flex;
  width: 100%;
  font-size: 2rem;
  margin-top: 3rem;
  gap:2rem
}
.todo-form input{
  border: 1px solid black;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}
.todo-form input::placeholder{
  font-size: 2rem;
  
  
}
.todo-form button{
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 2.5rem;
}
.todo-form button:hover{
  background-color: black;
  color: white;
}
.task-div{
  background-color: aliceblue;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.281);
  border-radius: 1rem;
}
.todo-text{
  font-size: 2.5rem;
}
.icons{
  font-size: 2.5rem;
  gap:3rem;
  display: flex;
  cursor: pointer;
}
.complete{
  text-decoration: line-through;
  opacity: 0.5;
  background-color: rgb(18, 173, 18);
}
.hide{
  display: none;
}